html {
  font-size: 18px;
  line-height: 1.4;
  font-family: Helvetica;
}

.site-container {
  max-width: 960px;
  margin: 0 auto;
}

nav {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png");
  height: 30rem;
  display: block;
}

.banner {
  margin-top: 1rem;
  background-color: cadetblue;
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo img {
  height: 1.5rem;
  padding: 1rem 1rem 1rem 2rem;
}

.logo span,
.menu {
  color: white;
}

.logo span {
  font-size: 1rem;
}

.menu ul {
  display: flex;
}

.menu ul li {
  padding-right: 2rem;
}

.container {
  background-color: white;
  display: flex;
  width: 65%;
  margin-top: 10rem;
  margin-left: 356px;
}

.text {

}

.container p {
  padding: 1.5rem 5rem;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
}
