html {
  font-size: 18px;
  line-height: 1.4;
  font-family: Helvetica;
}

.site-container {
  width: 960px;
  margin: 0 auto;
}

header {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png");
  height: 30rem;
  background-size: cover;
}

nav {
  padding-top: 1rem;
}

.banner {
  background-color: cadetblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo,
.footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.logo img {
  height: 1.5rem;
  padding: 1rem 1rem 1rem 2rem;
}

.logo span,
.menu {
  color: white;
}

.logo span {
  font-size: 1rem;
}

.menu ul {
  display: flex;
}

.menu ul li {
  padding-right: 2rem;
}

.menu-button {
  display: none;
}

.tagline {
  background-color: white;
  display: flex;
  margin-top: 10rem;
  margin-left: 356px;
}

.tagline p {
  padding: 1.5rem 5rem;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
}

/* INFOGRAPHICS SECTION */
.infographics {
  display: flex;
  justify-content: center;
}

.icon {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8rem;
}

#ruler,
#paper {
  padding-right: 6rem;
}

.icon img {
  max-width: 5rem;
  min-width: 3.5rem;
}

.icons p {
  text-align: center;
}

/* PHILOSOPHY SECTION */

.philosophy {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
}

.descriptions {
  margin-right: 5%;
  width: 35%;
}

.description h2 {
  background-color: cadetblue;
  color: white;
  width: 10rem;
  font-weight: bold;
  padding: 0.5rem 0rem 0.5rem 1.25rem;
}

.descriptions p{
  padding-top: 1rem;
}

/* FOOTER */

.container {
  background-color: azure;
  margin-top: 5rem;
  padding: 4rem 0;
}

.footer img {
  padding-left: 4rem;
  height: 1.5rem;
}

.footer p {
 padding-left: 1rem;
}

/* TABLET SCREEN */
@media only screen and (max-width: 1024px) {
  nav {
    height: 22rem;
  }

  .banner {
    width: 100%;
    margin-top: 0;
  }

  .tagline {
    margin-top: 5rem;
    margin-right: 2rem;
  }

  .tagline p {
    padding: 0.75rem 4rem;
    font-size: 1.33rem;
  }
}

/* MOBILE VERSION */
@media only screen and (max-width: 470px) {
  nav {
    background-position: 20%;
    height: 17rem;
  }

.site-container {
  width: 470px;
}

.banner {
  width: 100%;
  margin-top: 0;
}

.tagline {
  margin-top: 9rem;
  margin-left: 0;
  width: 100%;
  justify-content: center;
}

.tagline p {
  text-align: center;
  font-size: 1rem;
  padding: 1rem auto;
}

.menu ul {
  display: none;
}

.menu-button {
  display: flex;
  color: white;
  padding-right: 2rem;
}

.logo span {
  display: none;
}

.infographics {
  flex-direction: column;
  margin: 3.77rem 0rem;
  align-items: center;
}

.icon p {
  font-size: 0.77rem;
}

#ruler,
#paper {
  padding-right: 0;
}

.philosophy {
  flex-direction: column;
  align-items: center;
}

.descriptions {
  margin-right: 0;
  width:100%;
}

.description h2 {
  width:100%;
  text-align: center;
  padding-left: 0;
}

#Appointments {
  margin-top: 4rem;
}

.descriptions p {
  font-size: 0.77rem;
  margin-left: 0.5rem;
}
}
